{
  "allowPty": true,
  "enableWeakerNetworkIsolation": true,
  "network": {
    "allowedDomains": [],
    "deniedDomains": []
  },
  "filesystem": {
    "denyRead": [
{{- if eq .chezmoi.os "darwin" }}
      "/Users"
{{- else if eq .chezmoi.os "linux" }}
      "/home",
      "/var/home"
{{- end }}
    ],
    "allowRead": [
      ".",
      "~/.gitconfig",
      "~/.config/git/ignore",
      "~/.local/bin",
      "~/.local/share/uv/python",
      "~/.local/share/uv/tools/dvc"{{ if eq .chezmoi.os "darwin" }},
      "~/.nvm/versions/node/v24.12.0",
      "~/Programs/flutter",
      "~/.pub-cache"{{ else if eq .chezmoi.os "linux" }},
      "~/.linuxbrew",
      "/home/linuxbrew/.linuxbrew",
      "~/.cache/Homebrew"{{ end }}
    ],
    "allowWrite": [
      "."
    ],
    "denyWrite": [
      "/comment protect the file history in case agent wrecks worktree",
      "./.git",
      "./.pi"
    ]
  }
}
