anthropic-api-key: {{ (join .chezmoi.sourceDir ".encrypted_keys.toml.asc" | include | decrypt | fromToml).keys.anthropic_api | quote }}
api-key:
- deepseek={{ (join .chezmoi.sourceDir ".encrypted_keys.toml.asc" | include | decrypt | fromToml).keys.deepseek_api | quote }}
- gemini={{ (join .chezmoi.sourceDir ".encrypted_keys.toml.asc" | include | decrypt | fromToml).keys.gemini_api | quote }}

model: sonnet

read:
  - CONVENTIONS.md
