[Desktop Entry]
Version=1.0
Type=Application
Name=Speed of Sound
Comment=Voice typing for the Linux desktop
Categories=Utility;Accessibility;
Keywords=voice;typing;dictation;transcription;speech;microphone;whisper;
Icon=io.speedofsound.SpeedOfSound
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=speedofsound io.speedofsound.SpeedOfSound
Terminal=false
StartupNotify=true
DBusActivatable=true
X-Flatpak=io.speedofsound.SpeedOfSound
X-GNOME-Autostart-enabled=true
